@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply font-poppins overflow-x-hidden;
    }

    html, body, [data-nextjs-scroll-focus-boundary] {
        @apply h-full;
    }

    body, [data-nextjs-scroll-focus-boundary] {
        @apply bg-main bg-no-repeat bg-cover bg-fixed;
    }
}

@layer components {

    .primary-container {
        @apply max-w-[1280px] mx-auto px-4;
    }

    .primary-button {
        @apply px-4 py-2 hover:opacity-80 transition-opacity bg-button rounded-[16px] text-white;
    }

    .full-width {
        @apply w-screen relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw];
    }

    .grid-container {
        @apply grid grid-cols-4 grid-rows-2 gap-[30px];
        grid-template-areas:
            "download github github github"
            "download twitter presentation presentation";
    }

    .download {
        grid-area: download;
    }

    .github {
        grid-area: github;
    }

    .twitter {
        grid-area: twitter;
    }

    .presentation {
        grid-area: presentation;
    }
}