@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply font-poppins overflow-x-hidden scroll-smooth;
    }

    html, body, [data-nextjs-scroll-focus-boundary] {
        @apply h-full;
    }

    body, [data-nextjs-scroll-focus-boundary] {
        @apply bg-main bg-no-repeat bg-cover bg-fixed;
    }
}

@layer components {

    .primary-container {
        @apply max-w-[1280px] mx-auto px-4;
    }

    .primary-button {
        @apply px-4 py-2 hover:opacity-80 transition-opacity bg-button rounded-[16px] text-white;
    }

    .full-width {
        @apply w-screen relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw];
    }

    .grid-container {
        @apply grid gap-[30px];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
        grid-template-areas:
            "download"
            "github"
            "twitter"
            "presentation";
    }

    .download {
        grid-area: download;
    }

    .github {
        grid-area: github;
    }

    .twitter {
        grid-area: twitter;
    }

    .presentation {
        grid-area: presentation;
    }

    @media screen and (min-width: 640px) {
        .grid-container {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: repeat(3, minmax(200px, 1fr));
            grid-template-areas:
                "download download"
                "github twitter"
                "presentation presentation";
        }
    }

    @media screen and (min-width: 1024px) {
        .grid-container {
            grid-template-columns: 1fr repeat(3, minmax(0, 0.7fr));
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas:
            "download github github github"
            "download twitter presentation presentation";
        }
    }

    @media screen and (min-width: 1200px) {
        .grid-container {
            grid-template-columns: 380px repeat(3, minmax(0, 1fr));
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas:
            "download github github github"
            "download twitter presentation presentation";
        }
    }


}